pug/balance.pug
extends layout/template

block title
    title Заголовок

block scripts


block content
    .wrapper
        .container
            header.navi
                .row
                    .col-2
                        i.fa.fa-angle-left
                    .col-8
                        p btc balance
        .container
            .row
                .col-12
                    .contentItem
                        .valute
                            .valute__icon.btc
                                img(src="img/btc.png")
                            .valute__text
                                h4 BTC
                                p Bitcoin
                        .balance
                            p 928,031
                        .buttons
                            button.btn.btn-primary Send
                            button.btn.btn-success Receive
                        p.details#showModal view yor bitcoin address
            .row.justify-content-center
                .col-12.col-md-10
                    .transfers
                        .transfers__item
                            .transfers__heading
                                h4 bitcoin transfer accepted
                            .transfers__description
                                p.transfers__text Your request to transfer 300 btc was accepted </br> transfer 3 btc was accepted
                                p.transfers__date 13.8.17  |  13:23
                        .transfers__item
                            .transfers__heading.active
                                h4 bitcoin transfer accepted
                            .transfers__description
                                p.transfers__text Your request to transfer 300 btc was accepted </br> transfer 3 btc was accepted
                                p.transfers__date 13.8.17  |  13:23
                        .transfers__item
                            .transfers__heading
                                h4 bitcoin transfer accepted
                            .transfers__description
                                p.transfers__text Your request to transfer 300 btc was accepted </br> transfer 3 btc was accepted
                                p.transfers__date 13.8.17  |  13:23
                        .transfers__item
                            .transfers__heading
                                h4 bitcoin transfer accepted
                            .transfers__description
                                p.transfers__text Your request to transfer 300 btc was accepted </br> transfer 3 btc was accepted
                                p.transfers__date 13.8.17  |  13:23
        .container-fluid
            .row.myModal#modal
                .col-12.myModal__content
                    .myModal__close#modalHide
                        i.fa.fa-times
                    .row.justify-content-center
                        .col-4
                            .valute
                                .valute__icon.btc
                                    img(src="img/btc.png")
                                .valute__text
                                    h4 BTC
                                    p Bitcoin
                    .row.myModal__qrcode
                        img(src="img/qrcode.jpg")
                    .row
                        .col-12
                            p.myModal__text your bitcoin public address
                            p.myModal__code 1F1tAaz5x1HUXrCNLbtMDqcw6o5GNn4xqX
                    .row.justify-content-center
                        button.btn.btn-success Copy
                        button.btn.btn-success Send
    script(src='js/script.js')

app/balance.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
    <script src="js/libs/jQuery 3.2.1.js"></script>
    <title>Заголовок</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <header class="navi">
          <div class="row">
            <div class="col-2"><i class="fa fa-angle-left"></i></div>
            <div class="col-8">
              <p>btc balance</p>
            </div>
          </div>
        </header>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="contentItem">
              <div class="valute">
                <div class="valute__icon btc"><img src="img/btc.png"></div>
                <div class="valute__text">
                  <h4>BTC</h4>
                  <p>Bitcoin</p>
                </div>
              </div>
              <div class="balance">
                <p>928,031</p>
              </div>
              <div class="buttons">
                <button class="btn btn-primary">Send</button>
                <button class="btn btn-success">Receive</button>
              </div>
              <p class="details" id="showModal">view yor bitcoin address</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 col-md-10">
            <div class="transfers">
              <div class="transfers__item">
                <div class="transfers__heading">
                  <h4>bitcoin transfer accepted</h4>
                </div>
                <div class="transfers__description">
                  <p class="transfers__text">Your request to transfer 300 btc was accepted </br> transfer 3 btc was accepted</p>
                  <p class="transfers__date">13.8.17  |  13:23</p>
                </div>
              </div>
              <div class="transfers__item">
                <div class="transfers__heading active">
                  <h4>bitcoin transfer accepted</h4>
                </div>
                <div class="transfers__description">
                  <p class="transfers__text">Your request to transfer 300 btc was accepted </br> transfer 3 btc was accepted</p>
                  <p class="transfers__date">13.8.17  |  13:23</p>
                </div>
              </div>
              <div class="transfers__item">
                <div class="transfers__heading">
                  <h4>bitcoin transfer accepted</h4>
                </div>
                <div class="transfers__description">
                  <p class="transfers__text">Your request to transfer 300 btc was accepted </br> transfer 3 btc was accepted</p>
                  <p class="transfers__date">13.8.17  |  13:23</p>
                </div>
              </div>
              <div class="transfers__item">
                <div class="transfers__heading">
                  <h4>bitcoin transfer accepted</h4>
                </div>
                <div class="transfers__description">
                  <p class="transfers__text">Your request to transfer 300 btc was accepted </br> transfer 3 btc was accepted</p>
                  <p class="transfers__date">13.8.17  |  13:23</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row myModal" id="modal">
          <div class="col-12 myModal__content">
            <div class="myModal__close" id="modalHide"><i class="fa fa-times"></i></div>
            <div class="row justify-content-center">
              <div class="col-4">
                <div class="valute">
                  <div class="valute__icon btc"><img src="img/btc.png"></div>
                  <div class="valute__text">
                    <h4>BTC</h4>
                    <p>Bitcoin</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row myModal__qrcode"><img src="img/qrcode.jpg"></div>
            <div class="row">
              <div class="col-12">
                <p class="myModal__text">your bitcoin public address</p>
                <p class="myModal__code">1F1tAaz5x1HUXrCNLbtMDqcw6o5GNn4xqX</p>
              </div>
            </div>
            <div class="row justify-content-center">
              <button class="btn btn-success">Copy</button>
              <button class="btn btn-success">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/script.js"></script>
  </body>
</html>
