app/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
    <script src="js/libs/jQuery 3.2.1.js"></script>
    <title>Заголовок</title>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <header class="header">
          <div class="row">
            <div class="col-3 col-md-2">
              <div class="header__photo"><img src="img/profile.png"></div>
            </div>
            <div class="col-6 col-md-8">
              <div class="header__logo"><img src="img/logo.png"></div>
            </div>
            <div class="col-3 col-md-2">
              <div class="header__settings"><img src="img/settings.png"></div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="buttonGroup">
              <button class="active">Balance</button>
              <button>Trades</button>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="loading"><i class="fa fa-refresh"></i></div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="contentItem">
                <div class="valute">
                  <div class="valute__icon btc"><img src="img/btc.png"></div>
                  <div class="valute__text">
                    <h4>BTC</h4>
                    <p>Bitcoin</p>
                  </div>
                </div>
                <div class="balance">
                  <p>928,031</p>
                </div>
              </div>
              <div class="contentItem">
                <div class="valute">
                  <div class="valute__icon eth"><img src="img/eth.png"></div>
                  <div class="valute__text">
                    <h4>ETH</h4>
                    <p>Ethereum</p>
                  </div>
                </div>
                <div class="balance">
                  <p>42,736,603</p>
                </div>
              </div>
            </div>
          </div>
        </header>
      </div>
    </div>
  </body>
</html>

pug/index.pug
extends layout/template

block title
    title Заголовок

block scripts


block content
    .container
        .wrapper
            header.header
                .row
                    .col-3.col-md-2
                        .header__photo
                            img(src="img/profile.png")
                    .col-6.col-md-8
                        .header__logo
                            img(src="img/logo.png")
                    .col-3.col-md-2
                        .header__settings
                            img(src="img/settings.png")
                .row.justify-content-center
                    .buttonGroup
                        button.active Balance
                        button Trades
                .row.justify-content-center
                    .loading
                        i.fa.fa-refresh
                .row
                    .col-12
                        .contentItem
                            .valute
                                .valute__icon.btc
                                    img(src="img/btc.png")
                                .valute__text
                                    h4 BTC
                                    p Bitcoin
                            .balance
                                p 928,031
                        .contentItem
                            .valute
                                .valute__icon.eth
                                    img(src="img/eth.png")
                                .valute__text
                                    h4 ETH
                                    p Ethereum
                            .balance
                                p 42,736,603
